<%= form_with(model: approval) do |form| %>
  <% if approval.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(approval.errors.count, "error") %> prohibited this approval from being saved:</h2>

      <ul>
        <% approval.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :user_id %>
    <%= form.text_field :user_id %>
  </div>

  <div class="field">
    <%= form.label :solution_suggestion_id %>
    <%= form.text_field :solution_suggestion_id %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
